//=====================//
// CHANGE FONT//
$ff: "Press Start 2P", cursive; //change font style//
$ff2: "Ubuntu";
$fc: white; //change font color//
//====================//

body {
  font-family: $ff;
  color: $fc;
  line-height: 145%;

  text-shadow: black 0.1em 0.1em 0.2em;
}

h1,
h2 {
  line-height: 140%;
}
