//=========================================//
// CHANGE FOOTER BACKGROUND COLOR //
$footer-bg: brown;
//=========================================//

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $footer-bg;
}
