//=========================================//
// CHANGE PRODUCTS BACKGROUND COLOR //
$products-bg: rgb(20, 20, 20);
//=========================================//

.row-3 {
  background-color: $products-bg;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;

  opacity: 0.9;
}
